.container{
    height: 600px;
    width: 26%;
    position: absolute;
    top: 10%;
    left: 30%;
    background-color: #0967d219;
}

.card{
    height: 230px;
    padding: 5px;
   
}
.card-container{
    background-color: white;
    border-radius: 10px;
    color: black;
    height: 160px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.card-container button{
   background-color:#0967d2;
   border: transparent;
   border-radius: 5px;
    color: white;
    height: 30px;
    width: 30%;
   

}
.card-container img{
    height: 60px;
    width: 30%;
    float: right;
    border-radius: 10px;
    margin-right: 10px;
   
}
h5{
    
    color: black;
    font-size: 22px;
    margin-left: 10px;
    margin-top: 12px;
    
}
.card-container1{
    background-color: #0967d219;
    border-radius: 16px;
    color: black;
    height: 130px;
    display: flex;
    margin: 10px;
    flex-direction: row;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.card-container1 img{
    height: 80px;
    width: 80px;
    float: left;
    border-radius: 10px;
    margin-right: 10px;
    margin-top: 20px;
   
}
.card-container1 .card_para{
    display: flex;
    flex-direction: column;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.card-container1 h3{
    color: black;
    font-size: 14px;
   
}
.card-container1 p{
   
      color: black;
      font-size: 12px;
}
  
      .card_sym{

 display: flex;
    flex-direction: row;
   
      }
  
  .card_list{
    display: flex;
    flex-direction: column;
    background-color: #3ebd93;
    height: 130px;
    width: 30%;
    border-radius: 10px;
    align-self: center;
    margin-right: 16px;
    margin-left: 16px;
  }
  .card_list1{
    display: flex;
    flex-direction: column;
    background-color: #e668a7;
    height: 130px;
    width: 30%;
    border-radius: 10px;
    align-self: center;
    margin-right: 16px;
    margin-left: 16px;
  }
  .card_list2{
    display: flex;
    flex-direction: column;
    background-color: #a368fc;
    height: 130px;
    width: 30%;
    border-radius: 10px;
    align-self: center;
    margin-right: 16px;
    margin-left: 16px;
  }
  .card_list img{
   
    height: 100px;
    width: 50%;
    text-align:center;
    border-radius: 10px;
    align-self: center;
    margin-top: 10px;
  }
  .card_list1 img{
   
    height: 100px;
    width: 50%;
    text-align:center;
    border-radius: 10px;
    align-self: center;
    margin-top: 10px;
  }
  .card_list2 img{
   
    height: 100px;
    width: 50%;
    text-align:center;
    border-radius: 10px;
    align-self: center;
    margin-top: 10px;
  }
  .card_list h5{
    align-self: center;
    color: white;
    font-size: 14px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  .card_list1 h5{
    align-self: center;
    color: white;
    font-size: 14px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  .card_list2 h5{
    align-self: center;
    color: white;
    font-size: 14px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  .card-video{
    background-color: #e12d3919;
    border-radius: 16px;
    color: black;
    height: 130px;
    display: flex;
    margin: 10px;
    flex-direction: row;
    font-size: 14px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.card-video img{
    height: 80px;
    width: 20%;
    float: left;
    border-radius: 10px;
    margin-right: 10px;
    margin-top: 20px;
   
}
.card-video button{
    background-color:#0967d2;
    border: transparent;
    border-radius: 5px;
     color: white;
     height: 30px;
     width: 40%;
     font-size: 12px;
     margin-top: 10px;
     margin-left: 20px;

}